dotfiles/.config/zsh/plugins/
dotfiles/.config/zsh/.zcompdump
dotfiles/.config/fish/fish_plugins
dotfiles/.config/fish/fish_variables
dotfiles/.config/fish/completions/
dotfiles/.config/fish/functions/
dotfiles/.config/fish/conf.d/_tide*
